CONTAINER_NAME=kerio-connect-lab
KERIO_HOSTNAME=kerio-connect

KERIO_ADMIN_PORT=4040
KERIO_HTTPS_PORT=443
KERIO_SMTP_PORT=25
KERIO_SMTPS_PORT=465
KERIO_SUBMISSION_PORT=587
KERIO_IMAPS_PORT=993
KERIO_POP3S_PORT=995

KERIO_MEMORY_LIMIT=4g
KERIO_CPUS=2.0

KERIO_STATE_VOLUME=kerio_state
KERIO_STORE_VOLUME=kerio_store
KERIO_LOGS_VOLUME=kerio_logs
KERIO_LOG_ROOT=/opt/kerio/logs

LOGSTASH_SYSLOG_HOST=host.docker.internal
LOGSTASH_SYSLOG_PORT=5514

